extends layout

block content
	h2=question
	table.table
		each answer in answers
			tr
				td
					h4=answer.name
				td
					if answer.votes === 1
						h4 #{answer.votes} person
					else
						h4 #{answer.votes} people
	a.btn.btn-primary(href=voteUrl) vote