extends layout

block content
	h2=question
	table.table
		each answer in answers
			tr
				td
					h4=answer.name
				td
					- var person = answer.votes === 1 ? 'person' : 'people';
					h4(id="answer_" + answer.id) #{answer.votes} #{person}
	a.btn.btn-primary(href=voteUrl) vote
	script.
		var socket = io();
		socket.on('vote', function (vote) {
			var person = vote.value === 1 ? 'person' : 'people';
			$('#answer_'+vote.id).text(vote.value + " " + person);
		});