extends layout

block content
	h2=question
	div#voteDiv
		form(action='/#{pollId}/vote', method="post", id='votingForm')
			each answer in answers
				div.radio
					label
						input.radio(name="voteValue", value=answer.id, type="radio")
						|#{answer.name}
			input.btn.btn-primary(type="submit", value="vote")
	script.
		var form = $('#votingForm');
		form.submit(function() {
			$.cookie('#{question}_#{pollId}', true, { expires: 1 });
		});

		if($.cookie('#{question}_#{pollId}') === "true") {
			var message = $(document.createElement('h4'));
			message.text('thank you for voting! redirecting to results...');
			form.append(message);
			form.find(":input").prop("disabled", true);

			setTimeout(function() {
				window.location.replace('/#{pollId}/results');
			}, 1000);
		}